.inventory-title h1 {
    color: #0c2134;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.inventory-title p {
    text-align: center;
    color: #0c2134;
    font-weight: 500;
    margin: 0px;
}