.nav-link-Style {
    color: #3d4956;
    font-weight: 500;
    font-size: 17px;
    margin-right: 3rem;
}

.header-style {
    /* position: sticky; */
    top: 0;
}

.main-button {
    background-color: #0c2134;
    border: 2px solid #0c2134;
    color: #ced0d2 !important;
    border-radius: 50px;
    padding: 8px 20px !important;
    font-size: 15px;
    font-weight: 500;
    transition: .4s !important;
}

.main-button:hover {
    background-color: white;
    color: #0c2134 !important;
}